// Colors
$gc-primary-color: #B41F23;
$gc-text-color: #6C6D70;
$gc-text-heading-color: #000;
$gc-complementary-color: #fff;

// Font
$gc-font-family: 'Source Sans Pro', 'Helvtica', arial, sans-serif;
$gc-logo-font: normal normal 50px/50px $gc-font-family;
$gc-title-font: normal normal 25px/30px $gc-font-family;
$gc-large-font: normal normal 18px/20px $gc-font-family;
$gc-small-font: normal normal 15px/20px $gc-font-family;