.skills {
    &__skill {
        margin-bottom: 10px;
        text-align: right;
        color: $gc-text-color;
        font: $gc-small-font;
        @extend .col-xs-3;
        @media (max-width: 450px) {
            width: 33.33333%;
        }
    }
    &__level {
        margin-bottom: 10px;
        @extend .col-xs-9;
        @media (max-width: 450px) {
            width: 66.66667%;
        }
        &__gained {
            width: 14px;
            height: 14px;
            display: inline-block;
            background: $gc-primary-color;
            border-radius: 100px;
            margin-right: 5px;
            transition: 0.5s all linear;
            @media (max-width: $screen-xs-max) {
                width: 12px;
                height: 12px;
                margin-right: 5px;
            }
            @media (max-width: 450px) {
                width: 7px;
                height: 7px;
                margin-right: 2px;
            }
        }
        &__desired {
            @extend .skills__level__gained;
            background: $gc-text-color;
        }
    }
}
.offline {
    .skills {
        &__level {
            &__gained {
                background: $gc-offline-color;
            }
        }
    }
    .skills {
        &__level {
            &__desired {
                background: $gc-offline-skill;
            }
        }
    }
}